<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-start">
        <h3 class="card-title"> Préstamos </h3>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <a
          [routerLink]="['/loans/create']"
          class="btn"
          style="
            background-color: #17202A !important; border: none;
            color: #EAECEE !important;
          "
        >
          Nuevo
        </a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row mt-4">
      <div class="col-12">
        <table
          class="table table-striped table-hover"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Estudiante</th>
              <th scope="col">Libros</th>
              <th scope="col">Fecha Préstamo</th>
              <th scope="col">Fecha Devolución</th>
              <th scope="col">Fecha Tentativa</th>
              <th scope="col">Estado</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loans.length === 0">
              <td colspan="8" class="text-center">
                <h5>No hay prestamos registrados!</h5>
              </td>
            </tr>
            <tr *ngFor="let loan of paginatedData; let i = index">
              <th scope="row">{{ loan.id }}</th>
              <td>{{ loan.student.firstName+" "+loan.student.lastName }}</td>
              <td>
                <ng-container *ngFor="let book of loan.books; let last = last">
                  {{ book.title }}<span *ngIf="!last">, </span>
                </ng-container>
              </td>
              <td>{{ loan.loanDate??'NO REGISTRA' }}</td>
              <td>{{ loan.returnDate??'NO REGISTRA' }}</td>
              <td>{{ loan.tentativeDate??'NO REGISTRA' }}</td>
              <td>
                <ng-container *ngIf="loan.state">
                  <span class="badge bg-secondary">Pendiente</span>
                </ng-container>
                <ng-container *ngIf="!loan.state">
                  <span class="badge bg-success">Devuelto</span>
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf="loan.state">
                  <button
                    (click)="updateLoan(loan.id)"
                    class="btn btn-sm btn-success"
                  >
                    <i class="fad fa-check"></i>
                </button>
                </ng-container>
                &nbsp;
                <button
                  (click)="deleteLoan(loan.id)"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fad fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-start">
    <app-paginate
      [totalItems]="loans.length"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-paginate>
  </div>
</div>
