<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-start">
        <h3 class="card-title"> Préstamos </h3>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <a
          [routerLink]="['/loans/create']"
          class="btn"
          style="
            background-color: #17202A !important; border: none;
            color: #EAECEE !important;
          "
        >
          Nuevo
        </a>
      </div>
    </div>
  </div>
</div>
